<% if @color %>
<div>
  <%= audio_tag "#{@color.id}.mp3", autoplay: true, controls: true %>
  <table>
    <tr>
      <th>色の名前</th>
      <td><%= @color.name %></td>
    </tr>
    <tr>
      <th>イメージ</th>
      <td><%= @color.image %></td>
    </tr>
  </table>
</div>
<% else %>
<div>
ボタンを押してね！
</div>
<% end %>
