<% if @color %>
<div>
  <audio controls>
  <source src="/assets/audio/black.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
  <table>
    <tr>
      <th>色の名前</th>
      <td><%= @color.name %></td>
    </tr>
    <tr>
      <th>イメージ</th>
      <td><%= @color.image %></td>
    </tr>
  </table>
</div>
<% else %>
<div>
ボタンを押してね！
</div>
<% end %>
