<div class="container">
<%= form_tag("/pages/clothes") do %>
<div class="button_wrapper">
  <a class="btn-circle-3d" href="/pages/index">BUTTON</a>
</div>
<% end %>
<%= render :partial => "table" %>
</div>